<!-- <div class="container234" align="right">
    <p class="dummy"> Hello </p>
</div> -->
<div class="container123" align="center">
<div class="container" align="center">
    <div class="container2" align="center">
        <p class="dummy"> Hello </p>
    </div>
<h1>Unlock Effortless Email Automation</h1>
<p>Supercharge your Gmail with our AI agent. Automatically draft and send personalized emails in bulk, saving you time and boosting engagement.</p>
<button (click)="signin()">Get started</button>
</div>
</div>

<!-- <div class="container345" align="left">
    <p class="dummy"> Hello </p>
</div> -->

